@model IEnumerable<sys.Models.Quiz.AttemptAnswer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageStudent.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuizAtt.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Selected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCorrect)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question.Topic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuizAtt.StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Selected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCorrect)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
