@model IEnumerable<sys.Models.Quiz.QuizQA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageTeacher.cshtml";
}

<h2>Quiz Question/Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quiz.QuizTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Difficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Explanation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quiz.QuizTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Topic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Difficulty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Explanation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
