@model sys.Models.Quiz.CreateQ

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageTeacher.cshtml";
}

<h3>Create Quiz/Delete</h3>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CreateQ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuizTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishGradeAfterSubmission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishGradeAfterSubmission)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
