@model sys.Models.Quiz.CreateQ

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageTeacher.cshtml";
}

<h3>Create Quiz/Details</h3>

<div>
    <h4>Create Quiz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuizTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishGradeAfterSubmission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishGradeAfterSubmission)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
